@model IEnumerable<Lumiereshop.Models.NguoiDung>

@{
    Layout = "_AdminLayout";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Quản lý người dùng</h4>
                    </div>
                    <div class="card-body">
                        <a asp-action="Create" class="btn btn-success">Tạo mới</a>
                        <table class="table mt-2">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tài khoản</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col">Quyền</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var nguoiDung in Model)
                                {
                                    <tr>
                                        <td>@nguoiDung.ID</td>
                                        <td>@nguoiDung.TaiKhoan</td>
                                        <td>@nguoiDung.Ten</td>
                                        <td>@nguoiDung.DiaChi</td>
                                        <td>@(nguoiDung.Quyen == 1 ? "Admin" : "Khách hàng")</td>
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@nguoiDung.ID" class="btn btn-info">Chi tiết</a>
                                            <a asp-action="Edit" asp-route-id="@nguoiDung.ID" class="btn btn-primary">Chỉnh sửa</a>
                                            <a asp-action="Delete" asp-route-id="@nguoiDung.ID" class="btn btn-danger">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
